<div class='inner-page-wrapper<%= right_side_present? ? ' with-right-bg' : nil  %>'>
  <div class='container'>
    <div class='row'>
      <div class='<%= right_side_present? ? 'col-lg-9 col-md-9 col-sm-8 col-xs-12' : 'col-xs-12' %> left-side'>
        <%= render_partial_for_region @breadcrumbs if @breadcrumbs.present? %>

        <div class='content'>

          <h1><%= page_header = @content.try(&:part_title).presence || @page_title %></h1>
          <% content_for :page_header, page_header %>

          <%= render_partial_for_region(@content) if @content.present? %>
          <% @issues.group_by(&:year).each do |year, issues| %>
            <h2><%= year %></h2>
            <ul>
              <% issues.each do |issue| %>
                <li><%= link_to issue.full_number, send("#{I18n.locale}_articles_path", issue.slug) %></li>
              <% end %>
            </ul>
          <% end %>
          <% if @year_range[:min] < @year_range[:max] %>
            <p>
              <%= link_to 'http://old.tusur.ru/ru/science/tusur_reports_magazine/full-text/', target: '_blank' do %>
                <% if I18n.locale == :ru %>
                  Выпуски журнала за <%= @year_range[:min] %>&ndash;<%= @year_range[:max] %>
                <% end %>
                <% if I18n.locale == :en %>
                  <%= @year_range[:min] %>&ndash;<%= @year_range[:max] %> Issues
                <% end %>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>

      <% if right_side_present? %>
        <div class='col-lg-3 col-md-3 col-sm-4 col-xs-12 right-side'>
          <% if @right_navigation.present? && @content.present? && (@content.type == 'NewsListPart' || @content.type == 'NewsItemPart') %>
          <% else %>
            <%= render_partial_for_region(@right_navigation, 'inner_right') if @right_navigation.present? %>
          <% end %>
          <%= render partial: 'last_release_right_part' %>

          <%= render_partial_for_region(@right_links, 'inner_right_links') if @right_links.present? %>
          <%= render_partial_for_region(@right_advert, 'inner_right_advert') if @right_advert.present? %>
          <%= render_partial_for_region(@right_documents, 'inner_right_documents') if @right_documents.present? %>
          <%= render_partial_for_region(@right_contacts, 'inner_right_contacts') if @right_contacts.present? %>
          <%= render_partial_for_region(@right_html, 'inner_right_html') if @right_html.present? %>
        </div>
      <% end %>

    </div>
  </div>
</div>
