<div class='inner-page-wrapper<%= right_side_present? ? ' with-right-bg' : nil  %>'>
  <div class='container'>
    <div class='row'>
      <div class='<%= right_side_present? ? 'col-lg-9 col-md-9 col-sm-8 col-xs-12' : 'col-xs-12' %> left-side'>
        <%= render_partial_for_region @breadcrumbs if @breadcrumbs.present? %>

        <div class='content'>

          <div class='clearfix'>
            <%= link_to @issue.poster_url, class: 'colorbox float_right' do %>
              <%= image_tag @issue.poster_url.gsub(/\/\d+-\d+\//, '/150-216!/'), size: '150x216', alt: @issue.title %>
            <% end %>

            <h1><%= @issue.title.html_safe %></h1>
            <% content_for :page_header, @issue.title.html_safe %>

            <%= render_partial_for_region(@content) if @content.present? %>

            <% if @issue.file.present? %>
              <p>
                <%= link_to @issue.file.url, target: '_blank' do %>
                  <span class='glyphicon glyphicon-download'></span>
                  <%= I18n.t('app.download_full_issue', message: @issue.title.mb_chars.downcase) %>
                <% end %>
              </p>
            <% end %>
          </div>

          <% if @articles.any? %>
            <h2><strong><%= I18n.t('app.list_of_articles') %></strong></h2>

            <% @articles.group_by(&:section).each do |section, articles| %>

              <% if section.present? %>
                <h4><strong><%= section.title %></strong></h4>
              <% end %>

              <table class='table'>
                <% articles.each do |article| %>
                  <tr>
                    <td>
                      <p><%= article.authors.map(&:shortname).join(', ') %></p>
                      <p><%= link_to article.title, send("#{I18n.locale}_article_path", @issue, article) %></p>
                    </td>
                    <td class='text-right nobr'>
                      <p><%= article.page_from %>&ndash;<%= article.page_to %></p>
                    </td>
                  </tr>
                <% end %>
              </table>
            <% end %>
          <% end %>
        </div>
      </div>

      <% if right_side_present? %>
        <div class='col-lg-3 col-md-3 col-sm-4 col-xs-12 right-side'>
          <% if @right_navigation.present? && @content.present? && (@content.type == 'NewsListPart' || @content.type == 'NewsItemPart') %>
          <% else %>
            <%= render_partial_for_region(@right_navigation, 'inner_right') if @right_navigation.present? %>
          <% end %>
          <%= render partial: 'last_release_right_part' %>

          <%= render_partial_for_region(@right_links, 'inner_right_links') if @right_links.present? %>
          <%= render_partial_for_region(@right_advert, 'inner_right_advert') if @right_advert.present? %>
          <%= render_partial_for_region(@right_documents, 'inner_right_documents') if @right_documents.present? %>
          <%= render_partial_for_region(@right_contacts, 'inner_right_contacts') if @right_contacts.present? %>
          <%= render_partial_for_region(@right_html, 'inner_right_html') if @right_html.present? %>
        </div>
      <% end %>

    </div>
  </div>
</div>
