<div class='inner-page-wrapper<%= right_side_present? ? ' with-right-bg' : nil  %>'>
  <div class='container'>
    <div class='row'>
      <div class='<%= right_side_present? ? 'col-lg-9 col-md-9 col-sm-8 col-xs-12' : 'col-xs-12' %> left-side'>
        <%= render_partial_for_region @breadcrumbs if @breadcrumbs.present? %>

        <div class='content'>

          <h1><%= @article.title %></h1>
          <% content_for :page_header, @article.title %>

          <% if @article.file.present? %>
            <p>
              <%= link_to @article.file.url, target: '_blank' do %>
                <span class='glyphicon glyphicon-download'></span>
                <%= I18n.t('article.download') %>
              <% end %>
            </p>
          <% end %>

          <% if @article.authors %>
            <p>
              <strong><%= I18n.t('article.authors') %></strong>
              <%= @article.authors.map(&:shortname).join(', ') %>
            </p>
          <% end %>

          <p>
            <strong><%= I18n.t('article.annotation') %></strong>
            <%= @article.annotation %>
          </p>

          <p>
            <strong><%= I18n.t('article.keywords') %></strong>
            <%= @article.keywords %>
          </p>

        </div>
      </div>

      <% if right_side_present? %>
        <div class='col-lg-3 col-md-3 col-sm-4 col-xs-12 right-side'>
          <% if @right_navigation.present? && @content.present? && (@content.type == 'NewsListPart' || @content.type == 'NewsItemPart') %>
          <% else %>
            <%= render_partial_for_region(@right_navigation, 'inner_right') if @right_navigation.present? %>
          <% end %>
          <%= render partial: 'last_release_right_part' %>

          <%= render_partial_for_region(@right_links, 'inner_right_links') if @right_links.present? %>
          <%= render_partial_for_region(@right_advert, 'inner_right_advert') if @right_advert.present? %>
          <%= render_partial_for_region(@right_documents, 'inner_right_documents') if @right_documents.present? %>
          <%= render_partial_for_region(@right_contacts, 'inner_right_contacts') if @right_contacts.present? %>
          <%= render_partial_for_region(@right_html, 'inner_right_html') if @right_html.present? %>
        </div>
      <% end %>

    </div>
  </div>
</div>
