<div class='row'>
  <%= simple_form_for [:manage, @issue, @article] do |f| %>
    <%= content_tag :div, f.error_notification, class: 'col-xs-12' %>

    <div class='form-inputs'>
      <%= f.input :issue_id, as: :hidden %>
      <div class='col-xs-12'>
        <%= f.association :section, collection: Section.ordered %>
      </div>
      <div class='col-xs-12'>
        <%= f.input :title_ru, as: :string, required: true %>
      </div>
      <div class='col-xs-12'>
        <%= f.input :ru_annotation %>
      </div>
      <div class='col-xs-12'>
        <%= f.input :ru_keyword_list %>
      </div>
      <div class='col-xs-12'>
        <%= f.input :title_en, as: :string, required: true %>
      </div>
      <div class='col-xs-12'>
        <%= f.input :en_annotation %>
      </div>
      <div class='col-xs-12'>
        <%= f.input :en_keyword_list %>
      </div>
      <div class='col-lg-2 col-md-2 col-sm-6 col-xs-12'>
        <%= f.input :page_from %>
      </div>
      <div class='col-lg-2 col-md-2 col-sm-6 col-xs-12'>
        <%= f.input :page_to %>
      </div>
      <% if @article.file.present? && !@article.new_record? %>
        <div class='col-xs-12'>
          <p>
            Файл: <%= link_to @article.file_file_name, @article.file.url, target: '_blank' %>
          </p>
        </div>
      <% end %>
      <div class='col-xs-12'>
        <%= f.input :file, required: true %>
      </div>
    </div>

    <div class='form-actions col-xs-12'>
      <%= f.button :submit, 'Сохранить', class: 'btn btn-success' %>
      <% if @article.new_record? %>
        <%= link_to 'Отмена', manage_issue_articles_path(@issue), class: 'btn btn-default' %>
      <% else %>
        <%= link_to 'Отмена', manage_issue_article_path(@issue, @article), class: 'btn btn-default' %>
        <%= link_to 'удалить', manage_issue_article_path(@issue, @article), method: :delete, data: { confirm: 'Вы уверены?' },
          class: 'btn btn-default pull-right' %>
      <% end %>
    </div>
  <% end %>
</div>
