<% content_for :page_header do %>
  Номер
  <%= @issue.full_number %>
  за <%= @issue.year %> год
<% end %>

<div class='row'>
  <% if @issue.poster.present? %>
    <div class='col-xs-12'>
      <p>
        <%= link_to @issue.poster_url, class: :colorbox do %>
          <%= image_tag @issue.poster_url.gsub(/\/\d+-\d+\//, '/150-215!/'), size: '150x215' %>
        <% end %>
      </p>
    </div>
  <% end %>
  <% if @issue.file.present? %>
    <div class='col-xs-12'>
      <p>
        Файл: <%= link_to @issue.file_file_name, @issue.file.url, target: '_blank' %>
      </p>
    </div>
  <% end %>
  <div class='col-xs-12'>
    <p>
      <span class='state state-<%= @issue.current_state %>'>
        <%= @issue.current_human_state %>
      </span>
      <%= link_to 'Опубликовать', approve_manage_issue_path(@issue), class: 'btn btn-success', method: :post if @issue.draft? %>
      <%= link_to 'Снять с публикации', rollback_manage_issue_path(@issue), class: 'btn btn-warning', method: :post if @issue.published? %>
    </p>
  </div>
  <div class='col-xs-12'>
    <p>
      <%= link_to 'Изменить', edit_manage_issue_path(@issue), class: 'btn btn-default' %>
      <%= link_to 'Отмена', manage_issues_path, class: 'btn btn-default' %>
    </p>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12'>
    <h2>Статьи</h2>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12'>
    <p>
      <%= link_to 'Новая статья', new_manage_issue_article_path, class: 'btn btn-default' %>
    </p>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12'>
    <ul>
      <% @articles.each do |article| %>
        <li>
          <h3>
            Страницы
            <%= article.page_from %>&ndash;<%= article.page_to %>.
            <%= link_to article.title, manage_issue_article_path(@issue, article) %>
          </h3>
          <p>
            <strong>Аннотация:</strong>
            <%= article.ru_annotation %>
          </p>
          <p>
            <strong>Ключевые слова:</strong>
            <%= article.ru_keyword_list %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
