<% content_for :page_header do %>
  Номер
  <%= @issue.full_number %>
  за <%= @issue.year %> год
<% end %>

<div class='row'>
  <div class='col-xs-12'>
    <h3>
      <%= @article.ru_title %>
    </h3>
    <p>
      <strong>Аннотация:</strong>
      <%= @article.ru_annotation %>
    </p>
    <p>
      <strong>Ключевые слова:</strong>
      <%= @article.ru_keyword_list %>
    </p>

    <hr />

    <h3><%= @article.en_title %></h3>
    <p>
      <strong>Annotation:</strong>
      <%= @article.en_annotation %>
    </p>
    <p>
      <strong>Keywords:</strong>
      <%= @article.en_keyword_list %>
    </p>

    <hr />

    <p>
      <strong>Страницы:</strong>
      <%= @article.page_from %>&ndash;<%= @article.page_to %>
    </p>
    <p>
      <strong>Файл:</strong>
      <%= link_to @article.file_file_name, @article.file.url, target: '_blank' %>
    </p>
    <p>
      <%= link_to 'Изменить', edit_manage_issue_article_path(@issue, @article), class: 'btn btn-default' %>
      <%= link_to 'Отмена', manage_issue_articles_path(@issue), class: 'btn btn-default' %>
    </p>
  </div>
</div>
