<div class='container-fluid subtop-header'>
  <div class='container'>
    <div class='header'>
      <div class='row'>
        <div class='col-md-7 col-sm-7 col-xs-12'>
          <div class='logotype'>
            <div class='image-wrapper'>
              <%= link_to '/', :class => 'image' do %>
                <%= image_tag 'logotype.png', class: 'img-responsive' %>
              <% end %>
            </div>
            <div class='site-name-wrapper hidden-sm hidden-xs'>
              <%= link_to I18n.t('app.title').html_safe, I18n.locale == :ru ? '/' : "/#{I18n.locale}", :class => 'site-name' %>
            </div>
          </div>
        </div>
        <div class='col-md-5 col-sm-5 col-xs-12'>
          <div class='additional-capabilities pull-right'>
            <%= link_to 'English version', @page.related_pages.try(:[], 'en') || '/en', class: 'language en' if I18n.locale == :ru %>
            <%= link_to 'Русская версия', @page.related_pages.try(:[], 'ru') || '/ru', class: 'language ru' if I18n.locale == :en %>
          </div>

          <div class="search search-block pull-right hidden">
            <%= simple_form_for :search, :url => "/#{I18n.locale}/search", :method => :get do |f| %>
              <%= f.input :q, :label => false,
                :input_html => { :name => 'parts_params[search][q]', :value => params.try(:[], :parts_params).try(:[], :search).try(:[], :q), :placeholder => I18n.t('search_placeholder') } %>
              <div class='form-actions'>
                <%= link_to '', '#', :onclick => '$(this).closest("form").submit(); return false;' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
