<div class='row'>
  <%= simple_form_for [:manage, @issue] do |f| %>
    <%= content_tag :div, f.error_notification, class: 'col-xs-12' %>

    <div class='form-inputs'>
      <div class='col-lg-3 col-md-3 col-sm-3 col-xs-12'>
        <%= f.input :year, autofocus: true %>
      </div>
      <div class='col-lg-3 col-md-3 col-sm-3 col-xs-12'>
        <%= f.input :number %>
      </div>
      <div class='col-lg-3 col-md-3 col-sm-3 col-xs-12'>
        <%= f.input :part %>
      </div>
      <div class='col-lg-3 col-md-3 col-sm-3 col-xs-12'>
        <%= f.input :through_number %>
      </div>
      <% if @issue.poster.present? %>
        <div class='col-xs-12'>
          <p>
            <%= link_to @issue.poster_url, class: :colorbox do %>
              <%= image_tag @issue.poster_url.gsub(/\/\d+-\d+\//, '/150-215!/'), size: '150x215' %>
            <% end %>
          </p>
        </div>
      <% end %>
      <div class='col-xs-12'>
        <%= f.input :poster %>
      </div>
      <% if @issue.file.present? %>
        <div class='col-xs-12'>
          <p>
            Файл: <%= link_to @issue.file_file_name, @issue.file.url, target: '_blank' %>
          </p>
        </div>
      <% end %>
      <div class='col-xs-12'>
        <%= f.input :file %>
      </div>
    </div>

    <div class='form-actions col-xs-12'>
      <%= f.button :submit, 'Сохранить', class: 'btn btn-success' %>
      <% if @issue.new_record? %>
        <%= link_to 'Отмена', manage_issues_path, class: 'btn btn-default' %>
      <% else %>
        <%= link_to 'Отмена', manage_issue_articles_path(@issue), class: 'btn btn-default' %>
        <%= link_to 'удалить', manage_issue_path(@issue), method: :delete, data: { confirm: 'Вы уверены?' },
          class: 'btn btn-default pull-right' %>
      <% end %>
    </div>
  <% end %>
</div>
