<% content_for :page_header, 'Номера журнала' %>

<div class='row'>
  <div class='col-xs-12'>
    <p>
      <%= link_to 'Новый номер', new_manage_issue_path, class: 'btn btn-default' %>
    </p>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12'>
    <% @issues.group_by(&:year).each do |year, issues| %>
      <h3><%= year %> год</h3>
      <ul>
        <% issues.each do |issue| %>
          <li>
            <%= link_to issue.full_number, manage_issue_articles_path(issue) %>
            <%= content_tag :span, issue.current_human_state, class: 'text-warning' if issue.draft? %>
            <%= content_tag :span, issue.current_human_state, class: 'text-success' if issue.published? %>
            <%= issue.slug %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
