<div class='last-release-right-part'>
  <%= link_to I18n.t('app.send_article'), '#', class: 'btn btn-success btn-lg add-article disabled' %>
  <p>
    <%= link_to I18n.t('app.requirements'), '/ru/rukovodstvo-dlya-avtorov' if I18n.locale == :ru %>
    <%= link_to I18n.t('app.requirements'), '/en/information-for-authors' if I18n.locale == :en %>
  </p>

  <% if @last_issue.present? %>
    <div class='title'>Последний выпуск</div>
    <%= link_to send("#{I18n.locale}_articles_path", @last_issue) do %>
      <%= image_tag @last_issue.poster_url.gsub(/\/\d+-\d+\//, '/200-288!/'), size: '200x288',
        class: 'img-responsive', alt: "Доклады ТУСУР &ndash; выпуск #{@last_issue.full_number} #{@last_issue.year}г.".html_safe %>
    <% end %>

    <div class='content'>
      <%= link_to send("#{I18n.locale}_articles_path", @last_issue) do %>
      Доклады ТУСУР &ndash;
      <br />
      выпуск <%= @last_issue.full_number %> <%= @last_issue.year %>г.
    <% end %>
    </div>
  <% end %>
</div>
