<!DOCTYPE HTML>
<html lang='<%= I18n.locale %>'>
  <head>
    <meta charset='UTF-8'>
    <title>Журнал «Доклады ТУСУР»</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
