<!DOCTYPE HTML>
<html lang='<%= I18n.locale %>'>
  <head>
    <meta charset='UTF-8'>
    <title><%= I18n.t('app_name') %></title>
    <%= favicon_link_tag %>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%= stylesheet_link_tag    'manage/application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'manage/application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'navigation' %>
    <%= yield %>
  </body>
</html>
