<!DOCTYPE HTML>
<html lang='<%= I18n.locale %>'>
  <head>
    <meta charset='UTF-8'>
    <title><%= "#{yield(:page_header).squish} — " if content_for? :page_header %><%= I18n.t('app_name') %></title>
    <%= favicon_link_tag %>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%= stylesheet_link_tag    'manage/application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'manage/application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='page_wrapper'>
      <%= render partial: 'navigation' %>
      <div class='container content'>
        <%= render partial: 'page_header' if content_for? :page_header %>
        <%= render partial: 'flash' %>
        <%= yield %>
      </div>
    </div>
    <%= render partial: 'footer' %>
  </body>
</html>
